<footer class="footer navbar-fixed-bottom">
  <small>
    <!--by <a href="http://www.michaelhartl.com/">Michael Hartl</a>-->
  </small>
  <nav>
    <ul>
      <li><a href="http://aldahir15.github.io/">Visit me</a></li>
      <li><a href="http://aldahir15.github.io/contact">Contact</a></li>
    </ul>
  </nav>
</footer>
