<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container center-block">
    <div class="span12">
      <%= link_to "Calorie Calculator", root_path, id: "logo" %>
  </div>
  </div>
</header>
